* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}


header i {
  margin-left: 1.5ch;
  font-size: 1.1rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

header nav li {
  display: inline-block;
}

header {
  background-color: rgb(84, 84, 96);
}

#logo {
  width: 50px;
  margin: 10px;
}
header i {
  margin-left: 1.5ch;
  font-size: 1.1rem;
}
* {
  color: black;
}
.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

body {
  background-color: rgb(40, 41, 40);
  color: indigo;
  font-family: sans-serif;
  font-size: 75%;
  line-height: 1.5;
}

ul {
  list-style: none;
}

h2,
h3,
ul {
  margin-bottom: 0.5em;
}

h2 {
  padding-top: 6px;
  padding-left: 10px;
}

section {
  margin: 0.5em auto;
  box-sizing: border-box;
  border: 5px solid gold;
  width: 400px;
}

section div {
  border: 5px solid lightseagreen;
  width: 100%;
  padding: 30px;
  background-color: #fff7;
  text-align: center;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
header nav li {
  display: inline-block;
}
.videoframe {
  overflow: hidden;
  margin-bottom: 3rem;
  max-height: 50vh;
}

video {
  width: 100%;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.flex-item {
  flex: 1;
}