body {
    background-color: rgb(224, 182, 217);
    color: steelblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2, p, ul li {
    margin-bottom: 40px;
}

#about {
    display: flex;
}

.col {
    flex: 12;
    padding: 5%;
}

.left {
    background-color: #5bc7f1;
    
}

.right {
    flex: 2;
    background-color: rgb(90, 228, 143);
}
.left {
    width: 30%;
    flex: 3;
}

.right {
    width: 70%;
    flex: 7;
    border-left: 2px dotted lightsteelblue;
}

header, main, footer {
    background-color: rgb(22, 236, 236);
    border-bottom: 2px solid lightsteelblue;
    margin: 0 10%;
}
